# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo & React Native
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native Build Files (iOS & Android)
android/app/build/
ios/Pods/
ios/build/
ios/*.xcodeproj/
ios/*.xcworkspace/
ios/DerivedData/
ios/.DS_Store

# Metro
.metro-health-check*

# debug
*.log
debug.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# IDE / Editor-Specific Files
.vscode/
.idea/
*.iml

# Temp & Swap Files
*.tmp
*.swp

# Keystore, Credentials & Configs (for security)
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.env
*.env
config.js
config.ts
google-services.json
aws-credentials.json
firebaseConfig.js
*.keystore
